/* START defaults */
body, html {
    background-color: #cfcfcf;
    font-family: monospace;
    scroll-behavior: smooth;
}

div {
    border-radius: 10px;
    background-color: white;
    margin-top: 10px;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    padding: 40px;
}

code {
    background-color: #0000001F;
    white-space: pre;
}
/* END defaults */

/* START fonts */
.title-font {
    font-size: 300%;
}

.subtitle-font {
    font-size: 200%;
}

.large-font {
    font-size: 200%;
}

.medium-font, p, text {
    font-size: 150%;
}

.small-font {
    font-size: 100%;
}
/* END fonts */

/* START modifiers */
.rotate-90 {
    position: relative;
    transform: rotate(-180deg);
    display: inline-block;
}
.nodecorate {
    color: #000;
    text-decoration: none;
}
/* END modifiers */
